@media screen and (max-width: 960px) {
    .only-desktop {
        display: none;
    }

    .only-tablet {
        display: none;
    }

    .only-mobile {
        display: block;
    }

    .container {
        width: auto;
        margin: 0 16px;

        .container {
            margin: 0;
        }
    }
}