html {
    body {
        background: #fff;
        color: #222;
        font-family: 'PT Sans', Arial, sans-serif;
        font-size: 17px;
        line-height: 1.45;
        margin: 0;
        padding: 0;
        min-width: 320px;
    }
}

.only-desktop {
    display: block;
}

.only-mobile {
    display: none;
}

.container {
    width: 1160px;
    margin: 0 auto;

    .container {
        width: auto;
    }
}


a {
    color: #000;
    text-decoration: none;
}

strong, b {
    font-weight: bold;
}


.form-group {
    &:not(:last-child) {
        margin-bottom: 25px;
    }
}


input[type="text"] {
    display: block;
    box-sizing: border-box;
    margin: 0;
    height: 60px;
    padding: 0 20px;
    font-size: 16px;
    width: 100%;
    outline: none;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #c9c9c9;

    font-family: inherit;
    font-weight: normal;

    &::placeholder {
        color: #999;
    }
}


button,
.button {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-decoration: none;

    padding: 0 36px;
    margin: 0;
    box-shadow: none;
    border-radius: 100px;
    border: none;

    text-transform: uppercase;
    min-height: 54px;
    height: auto;

    cursor: pointer;

    background: var(--color-main-dark);
    background-image: linear-gradient(282deg, rgba(88, 187, 202, 1) 0%, rgba(39, 131, 150, 1) 100%);

    transition: 0.3s;

    &:hover {
        opacity: 0.9;
    }

    &.small {
        padding: 0 30px;
        min-height: 46px;
    }

    &.big {
        padding: 0 60px;
        min-height: 80px;
        font-size: 18px;
    }
}


input[type="checkbox"] {
    display: none;

    & + label {
        position: relative;
        padding-left: 28px;

        &:before {
            content: '';

            position: absolute;
            top: 2px;
            left: 0;

            width: 18px;
            height: 18px;

            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_14_19)'%3E%3Cpath d='M1 13.8002V4.2002C1 3.08009 1 2.51962 1.21799 2.0918C1.40973 1.71547 1.71547 1.40973 2.0918 1.21799C2.51962 1 3.08009 1 4.2002 1H13.8002C14.9203 1 15.4796 1 15.9074 1.21799C16.2837 1.40973 16.5905 1.71547 16.7822 2.0918C17 2.5192 17 3.07899 17 4.19691V13.8036C17 14.9215 17 15.4805 16.7822 15.9079C16.5905 16.2842 16.2837 16.5905 15.9074 16.7822C15.48 17 14.921 17 13.8031 17H4.19691C3.07899 17 2.5192 17 2.0918 16.7822C1.71547 16.5905 1.40973 16.2842 1.21799 15.9079C1 15.4801 1 14.9203 1 13.8002Z' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_14_19'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        }
    }

    &:checked + label {
        &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_14_19)'%3E%3Cpath d='M5 9L8 12L13 6M1 13.8002V4.2002C1 3.08009 1 2.51962 1.21799 2.0918C1.40973 1.71547 1.71547 1.40973 2.0918 1.21799C2.51962 1 3.08009 1 4.2002 1H13.8002C14.9203 1 15.4796 1 15.9074 1.21799C16.2837 1.40973 16.5905 1.71547 16.7822 2.0918C17 2.5192 17 3.07899 17 4.19691V13.8036C17 14.9215 17 15.4805 16.7822 15.9079C16.5905 16.2842 16.2837 16.5905 15.9074 16.7822C15.48 17 14.921 17 13.8031 17H4.19691C3.07899 17 2.5192 17 2.0918 16.7822C1.71547 16.5905 1.40973 16.2842 1.21799 15.9079C1 15.4801 1 14.9203 1 13.8002Z' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_14_19'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        }
    }
}


.html-text {
    a {
        color: var(--color-main);
        text-decoration: underline;
    }

    p {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    strong {
        font-weight: bold;
    }

    b {
        font-weight: bold;
    }

    i {
        font-style: italic;
    }

    ul {
        list-style: disc;
        margin: 0 0 20px;
        padding: 0 0 0 1.5em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    ol {
        list-style: decimal;
        margin: 0 0 20px;
        padding: 0 0 0 1.5em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    li {
        margin: 0;
        padding: 0;
    }

    img {
        display: block;
        max-width: 100%;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .ql-editor {
        ul {
            padding: 0;
        }

        ol {
            padding: 0;
        }
    }
}


.block {
    margin: 90px 0;

    &.grid-bg {
        background-image: url(../img/bg.svg);
        padding: 90px 0;
    }
}


.block-title {
    font-size: 44px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 40px;
}


.block-header {
    margin-bottom: 40px;

    .block-title {
        margin-bottom: 0;
    }

    .block-help {
        font-size: 14px;
        text-align: center;
        color: #777;
        margin: 10px 0;
    }

    .block-text {
        margin-top: 20px;
        text-align: center;
        color: #666;
    }
}


#header {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
    overflow: hidden;
    z-index: 15;

    &:before {
        content: '';

        position: absolute;
        z-index: -2;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: rgb(255, 255, 255);
        background: linear-gradient(180deg,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(255, 255, 255, 0.75) 5%,
        rgba(255, 255, 255, 0.75) 10%,
        rgba(255, 255, 255, 0.6) 15%,
        rgba(255, 255, 255, 0.4) 30%,
        rgba(255, 255, 255, 0.1) 100%)
    }

    &:after {
        content: '';

        position: absolute;
        z-index: -1;

        top: 198px;
        left: calc(50% - 600px + -288px);
        width: 890px;
        height: 697px;
        filter: blur(50px);

        border-radius: 3000px;
        opacity: 0.9;
        background-color: #f5f8f9;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }
}


.header-block {
    .header {
        padding: 20px 0;

        .inner {
            display: grid;
            grid-template-columns: auto auto auto minmax(0, 1fr);
            align-items: center;

            text-shadow: 0 1px rgba(255, 255, 255, 0.3);

            .logo {
                display: flex;
                align-items: center;

                margin-right: 15px;

                img {
                    display: block;
                    height: 54px;
                    width: auto;
                }
            }

            .slogan {
                font-size: 14px;
                line-height: 1.5;

                margin-right: 100px;
            }

            .info {
                .item {
                    display: grid;
                    grid-template-columns: auto minmax(0, 1fr);
                    align-items: center;
                    gap: 8px;

                    .i {
                        width: 18px;
                    }

                    .value {
                        font-size: 14px;
                        line-height: 1.5;
                    }
                }
            }

            .contacts {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                line-height: 1.25;

                .phone {
                    a {
                        font-size: 24px;
                        font-weight: bold;
                    }
                }

                .call {
                    a {
                        color: #777;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .menu {
        .inner {
            position: relative;
            z-index: 1;

            &:before {
                content: '';

                position: absolute;
                z-index: -1;

                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                background: var(--color-main);
                border-radius: 10px;
            }

            &:after {
                content: '';

                position: absolute;
                z-index: -2;

                top: 0;
                bottom: -5px;
                left: 15px;
                right: 15px;

                background: #fff;
                border-radius: 10px;
            }

            & > ul {
                display: flex;

                & > li {
                    position: relative;

                    width: 100%;
                    min-width: 0;

                    &:not(:last-child) {
                        &:after {
                            content: '';

                            position: absolute;
                            right: 0;
                            top: 50%;
                            margin-top: -12px;

                            width: 1px;
                            height: 24px;
                            background: #fff;
                        }
                    }

                    & > a {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        font-size: 16px;
                        color: #fff;
                        text-align: center;

                        min-height: 50px;
                    }
                }
            }
        }
    }

    &.fixed {
        .float {
            top: 0;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.20);
        }
    }

    .float {
        position: fixed;
        z-index: 20;
        left: 0;
        right: 0;

        top: -64px;
        height: 64px;

        transition: 0.3s;

        background: #fff;

        display: grid;
        grid-template-columns: auto minmax(0, 1fr) auto;
        align-items: center;
        gap: 20px;

        padding: 0 40px;

        .logo {
            img {
                display: block;
                height: 40px;
                width: auto;
            }
        }

        .menu {
            display: flex;
            align-items: center;
            justify-content: center;

            .inner {
                &:before,
                &:after {
                    display: none;
                }

                & > ul {
                    gap: 50px;

                    & > li {
                        &:after {
                            display: none;
                        }

                        &.parent {
                            &:hover {
                                & > a {
                                    color: var(--color-main);

                                    span {
                                        &:after {
                                            border-top-color: var(--color-main);
                                        }
                                    }
                                }
                            }

                            & > a {
                                span {
                                    &:after {
                                        border-top-color: rgba(0, 0, 0, 0.8);
                                    }
                                }
                            }
                        }

                        & > a {
                            color: #000;
                        }

                        & > ul {

                        }
                    }
                }
            }
        }

        .links {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;

            .phone {
                margin-right: 20px;

                a {
                    font-weight: bold;
                    color: var(--color-main);
                }
            }

            .link {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background: var(--color-main);
                    border-radius: 1000px;

                    font-size: 14px;
                    font-weight: 600;
                    color: #fff;
                    text-align: center;

                    min-height: 40px;
                    padding: 5px 30px;
                    box-sizing: border-box;

                    transition: 0.3s;

                    &:hover {
                        background: var(--color-main-dark);
                    }
                }
            }
        }
    }
}


.menu {
    &,
    .inner {
        & > ul {
            & > li {
                position: relative;

                &.parent {
                    &:hover {
                        & > a {
                            color: rgba(255, 255, 255, 0.8);

                            span {
                                &:after {
                                    top: calc(50% - 4px);
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }

                    & > a {
                        display: flex;

                        transition: 0.3s;

                        span {
                            position: relative;

                            &:after {
                                top: calc(50% - 1px);
                                left: calc(100% + 10px);
                                border: solid transparent;
                                content: "";
                                height: 0;
                                width: 0;
                                position: absolute;
                                pointer-events: none;
                                border-color: rgba(255, 255, 255, 0);
                                border-top-color: inherit;
                                border-width: 3px;
                                margin-left: -3px;

                                transition-property: all;
                                transition-duration: 0.2s;
                                transition-delay: 0.15s;
                            }
                        }
                    }
                }

                &:hover {
                    & > ul {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                & > ul {
                    position: absolute;
                    z-index: 10;

                    top: 100%;
                    left: 50%;
                    margin-left: -140px;
                    margin-top: 25px;

                    width: 280px;
                    background: #fff;
                    border-radius: 3px;
                    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);

                    padding: 14px 0;

                    opacity: 0;
                    visibility: hidden;
                    transition-property: opacity, visibility;
                    transition-duration: 0.2s;
                    transition-delay: 0.15s;

                    &:after {
                        bottom: 100%;
                        left: 50%;
                        border: solid transparent;
                        content: "";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-color: rgba(255, 255, 255, 0);
                        border-bottom-color: #fff;
                        border-width: 10px;
                        margin-left: -10px;
                    }

                    & > li {
                        &:not(:last-child) {
                            margin-bottom: 12px;
                        }

                        &:not(.open) {
                            ul {
                                display: none;
                            }
                        }

                        &.parent {
                            &.open {
                                & > a {
                                    &:after {
                                        margin-left: -24px;
                                        transform: rotate(180deg);
                                    }
                                }
                            }

                            & > a {
                                display: block;
                                position: relative;

                                &:after {
                                    margin-left: -20px;

                                    left: 100%;
                                    top: 50%;
                                    border: solid transparent;
                                    content: "";
                                    height: 0;
                                    width: 0;
                                    position: absolute;
                                    pointer-events: none;
                                    border-color: rgba(0, 0, 0, 0);
                                    border-left-color: #000;
                                    border-width: 3px;
                                    margin-top: -3px;

                                    transition: 0.2s;
                                }
                            }
                        }

                        & > a {
                            display: block;
                            padding: 0 20px;
                            line-height: 1.3;
                            font-size: 16px;

                            transition: 0.3s;

                            &:hover {
                                color: var(--color-main);
                                text-decoration: underline;

                                &:after {
                                    border-left-color: var(--color-main);
                                }
                            }
                        }

                        ul {
                            position: absolute;
                            z-index: 1;
                            top: 0;
                            left: calc(100% - 10px);

                            background: #fff;
                            padding: 14px 0;
                            box-sizing: border-box;

                            min-height: 100%;
                            min-width: 240px;

                            border-radius: 0 3px 3px 0;
                            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
                            clip-path: inset(-5px -5px -5px 5px);

                            &:before {
                                content: '';

                                position: absolute;
                                z-index: -1;

                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;

                                background: var(--color-main);
                                opacity: 0.05;
                            }

                            li {
                                &:not(:last-child) {
                                    margin-bottom: 12px;
                                }

                                a {
                                    display: block;
                                    padding: 0 20px;
                                    font-size: 16px;
                                    line-height: 1.3;

                                    transition: 0.3s;

                                    &:hover {
                                        color: var(--color-main);
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.promo-block {
    .inner {
        padding: 50px 0;
        position: relative;

        .title {
            font-size: 45px;
            line-height: 1.28;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .text {
            max-width: 600px;

            ul {
                li {
                    position: relative;
                    padding-left: 20px;

                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }

                    &:before {
                        content: '';

                        width: 10px;
                        height: 10px;

                        position: absolute;
                        left: 0;
                        top: 7px;

                        background: var(--color-main);
                        border-radius: 100px;
                    }
                }
            }
        }

        .order {
            display: flex;

            margin-top: 30px;

            a {
                display: flex;
                align-items: center;
                justify-content: center;

                min-height: 80px;
                padding: 0 100px;
                border-radius: 100px;
                box-sizing: border-box;

                color: #fff;
                text-align: center;
                text-transform: uppercase;

                background-image: linear-gradient(282deg, rgba(88, 187, 202, 1) 0%, rgba(39, 131, 150, 1) 100%);
                box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.2);

                transition: 0.3s;

                &:hover {
                    transform: scale(0.97);
                }
            }
        }

        .namo {
            position: absolute;
            bottom: 50px;
            right: 0;

            width: 100px;
            height: 100px;

            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}


.why-trust-block {
    margin: 0;

    .inner {
        position: relative;
        z-index: 1;

        .items {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 60px;

            .item {
                border-radius: 10px;
                background: #fff;
                box-shadow: 0 5px 10px 0 rgba(20, 20, 20, 0.2);

                padding: 20px;

                .name {
                    font-weight: bold;
                    color: var(--color-main);
                    font-size: 20px;

                    margin-bottom: 10px;
                }

                .text {
                    line-height: 1.35;
                }
            }
        }

        .line {
            position: absolute;
            z-index: -1;

            left: 0;
            right: 0;
            bottom: 10px;

            height: 100px;

            overflow: hidden;

            &:before {
                content: '';

                position: absolute;
                bottom: 0;
                left: 50%;
                margin-left: -700px;

                width: 1400px;
                height: 1400px;
                border-radius: 100%;
                border: 2px solid var(--color-main);
            }
        }
    }
}


.footer-block {
    background: #f5f8f9;
    padding: 74px 0;

    .inner {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 40px;

        .copyright {
            font-size: 12px;
        }

        .search {
            grid-column: span 2;

            form {
                display: grid;
                grid-template-columns: minmax(0, 1fr) auto;

                background: #fff;
                border-radius: 6px;

                input[type="text"] {
                    display: block;
                    width: auto;
                    height: 44px;
                    padding: 0 18px;
                    box-sizing: border-box;
                    border: none;
                    background: none;
                    outline: none !important;

                    font-size: 16px;
                    font-family: inherit;
                    font-weight: normal;
                    font-style: normal;

                    &::placeholder {
                        color: #999;
                    }
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background: none;
                    border-radius: 0;

                    padding: 0;
                    width: 44px;
                    height: auto;
                    min-height: unset;

                    .i {
                        width: 20px;
                        height: 20px;

                        opacity: 0.4;
                    }
                }
            }
        }

        .rules {
            text-align: right;
            font-size: 12px;
        }

        .menu {
            .name {
                text-transform: uppercase;
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 14px;
            }

            & > ul {
                & > li {
                    &:not(:last-child) {
                        margin-bottom: 8px;
                    }

                    & > a {
                        font-size: 14px;
                        color: #555;

                        &:hover {
                            color: var(--color-main);
                        }
                    }
                }
            }
        }

        .call-simple-form {
            display: grid;
            grid-template-columns: minmax(0, 1fr) auto;
            align-items: flex-start;

            input[type="text"] {
                font-family: inherit;
                font-size: 16px;
                color: #000;
                height: 44px;
                border: none;
                background: #fff;
                padding: 0 20px;
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;

                padding: 0;
                margin: 0 20px;
                border: none;
                width: auto;
                height: 44px;
                min-height: unset;
                box-shadow: none;
                border-radius: 0;
                background: none;
                outline: none !important;

                .i {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}


.contacts-and-work-time-block {
    background: var(--color-main);

    .inner {
        display: grid;
        grid-template-columns: 195px repeat(4, auto);
        gap: 30px;

        min-height: 170px;

        .doctor {
            position: relative;

            img {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
            }
        }

        .info {
            position: relative;

            display: flex;
            align-items: center;

            .logo {
                display: flex;
                align-items: center;
                justify-content: center;

                position: absolute;

                top: -95px;
                left: 0;

                width: 150px;
                height: 150px;
                border-radius: 1000px;
                background: #fff;

                img {
                    display: block;
                    height: 35px;
                    width: auto;

                    position: relative;
                    top: 10px;
                }
            }

            .name {
                margin-top: 10px;
                color: #fff;
            }
        }

        .work-time {
            display: flex;
            flex-direction: column;
            justify-content: center;

            color: #fff;

            .label {
                margin-bottom: 5px;
                font-size: 16px;
            }

            .value {
                font-weight: bold;
                font-size: 14px;
            }
        }

        .chat {
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                display: flex;
                align-items: center;
                justify-content: center;

                gap: 10px;

                padding: 0 20px;
                min-height: 52px;
                box-sizing: border-box;
                border: 2px solid #fff;
                border-radius: 1000px;

                color: #fff;
                font-weight: bold;

                .i {
                    width: 28px;
                    height: 28px;
                }

                .value {
                    margin: 0 10px;
                }
            }
        }

        .contacts {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            .phone {
                a {
                    display: grid;
                    grid-template-columns: auto minmax(0, 1fr);
                    align-items: center;
                    gap: 6px;

                    color: #fff;
                    font-weight: bold;

                    .i {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .call {
                a {
                    font-size: 13px;
                    font-weight: bold;
                    color: #fff;
                }
            }
        }
    }
}


.account-link-block,
.resume-link-block {
    margin: 40px 0;

    .inner {
        display: flex;
        justify-content: center;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--color-main);
            border-radius: 1000px;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            text-align: center;
            min-height: 40px;
            padding: 5px 30px;
            box-sizing: border-box;

            transition: 0.3s;

            &:hover {
                background: var(--color-main-dark);
            }
        }
    }
}


body > [data-modal] {
    display: none;
}

[data-modal] {
    .modal-body {
        padding: 30px 40px 40px;
        box-sizing: border-box;

        max-height: calc(100vh - 80px);
        overflow: auto;

        .modal-text {
            text-align: center;

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        .item-actions {
            button {
                width: 100%;
            }
        }

        .item-rules {
            text-align: center;
            font-size: 16px;

            a {
                color: var(--color-main);
                text-decoration: underline;
            }
        }
    }

    .mfp-close {
        background: none !important;
    }
}

.ui-dialog {
    padding: 0;
    width: 560px !important;
    max-width: 100%;
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    outline: 0;
    border-radius: 0;

    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);

    .ui-dialog-titlebar {
        padding: 0;
        margin: 0;

        .ui-dialog-title {
            float: none;
            display: block;
            width: auto;
            margin: 0;

            font-size: 30px;
            font-weight: bold;
            padding: 30px 30px 0;
            text-align: center;
        }
    }

    .ui-dialog-content {
        top: 0 !important;
        padding: 0;
    }

    .ui-dialog-titlebar-close {
        top: 20px;
        right: 20px;

        width: 20px;
        height: 20px;
        min-height: unset;

        padding: 0;
        margin: 0;
        border: none;

        opacity: 0.5;

        background-color: transparent;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Menu / Close_LG'%3E%3Cpath id='Vector' d='M21 21L12 12M12 12L3 3M12 12L21.0001 3M12 12L3 21.0001' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
    }
}

.ui-widget-overlay {
    background: rgba(0, 0, 0, 0.5);
}


.resume-form {
    .item-file {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .label {
            font-size: 18px;
        }

        label {
            background: var(--color-main-dark);
            padding: 8px 16px;
            border-radius: 5px;
            color: #fff;
            font-size: 16px;
            margin: 5px 0;
        }

        .file-input {
            width: 0;
            height: 0;
            overflow: hidden;
        }

        .file-name {
            font-size: 16px;
        }
    }
}


.order-form,
.call-form {
    input[type="text"] {
        border-left: none;
        border-right: none;
        border-top: none;
        border-radius: 0;
        padding: 0;
    }
}


.service-block {
    position: relative;
    z-index: 1;

    &:before {
        content: '';

        position: absolute;
        z-index: -1;

        top: 130px;
        bottom: 60px;
        left: 0;
        right: 0;

        background: var(--color-main);
    }

    .block-title {
        color: var(--color-main);
        font-size: 40px;
        font-weight: bold;
        text-align: left;

        margin: 0 0 25px 50px;
    }

    .content {
        display: grid;
        grid-template-columns: minmax(0, 1fr) auto auto;
        gap: 20px;

        background: #f9fbfc;
        box-shadow: 0 2px 10px 0 rgba(20, 20, 20, 0.2);
        border-radius: 10px;

        .info {
            padding: 20px 50px 0;

            .title {
                font-size: 24px;
                color: var(--color-main);
                font-weight: bold;
                margin-bottom: 20px;
                line-height: 1.15;
            }
        }

        .img {
            margin: 20px 0;

            width: 280px;
            height: 280px;

            box-sizing: border-box;

            border-radius: 3px;
            overflow: hidden;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .more {
            display: flex;
            justify-content: center;

            grid-column: span 2;

            padding-bottom: 20px;
        }
    }
}


.order-block {
    grid-row: span 2;

    width: 370px;
    background: #fff;
    padding: 60px 25px 25px;
    box-sizing: border-box;

    margin-top: -20px;
    margin-right: -5px;

    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

    position: relative;

    .clip {
        position: absolute;
        right: 30px;
        top: -10px;

        width: 23px;
        height: 50px;

        .i {
            width: 100%;
            height: 100%;
        }
    }

    .title {
        font-weight: bold;
        margin-bottom: 15px;
        text-align: center;
    }

    .form-group {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    input[type="text"] {
        border-color: #888;
        height: 50px;
        font-size: 15px;
    }

    .item-actions {
        margin-top: 20px;

        button {
            width: 100%;
        }
    }
}


.services-block {
    .inner {
        display: grid;
        grid-template-columns: auto repeat(3, minmax(0, 1fr));
        gap: 40px;

        .info {
            width: 380px;

            .text {
                margin-bottom: 30px;
            }

            .order {
                display: flex;
            }
        }

        .services {
            .name {
                font-weight: bold;
                color: var(--color-main);
                font-size: 20px;
                line-height: 1.2;
                margin-bottom: 14px;
            }

            ul {
                li {
                    &:not(:last-child) {
                        margin-bottom: 3px;
                    }

                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}


.service-block2 {
    .inner {
        display: grid;
        grid-template-columns: minmax(0, 1fr) auto;
        gap: 20px;

        background: #f9fbfc;
        box-shadow: 0 2px 10px 0 rgba(20, 20, 20, 0.2);
        border-radius: 10px;

        .info {
            padding: 30px 40px;

            .title {
                font-size: 20px;
                font-weight: bold;
                color: var(--color-main);
                margin-bottom: 16px;
            }

            .text {
                line-height: 1.55;
                color: #666;
            }

            .links {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                gap: 20px;

                margin: 20px 0;

                a {
                    text-decoration: underline;
                    color: #444;
                }
            }

            .more {
                display: flex;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    min-height: 50px;
                    padding: 0 30px;
                    border-radius: 100px;
                    border: 1px solid #666;
                    box-sizing: border-box;
                    text-align: center;

                    transition: 0.3s;

                    &:hover {
                        background: var(--color-main-dark);
                        border-color: var(--color-main-dark);
                        color: #fff;
                    }
                }
            }
        }

        .order-block {
            margin-top: -20px;
            margin-bottom: -20px;
        }
    }
}


.doctors-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 70px;

    .doctor {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: auto minmax(0, 1fr);

        background: #fff;
        border-radius: 1000px 10px 10px 10px;

        position: relative;

        .fields {
            position: absolute;
            z-index: 2;
            top: 20px;
            right: 12px;

            color: #fff;
            font-size: 14px;

            .field {
                &:not(:last-child) {
                    margin-bottom: 25px;
                }

                .value {
                    font-weight: bold;

                    a {
                        color: #fff;
                        text-decoration: underline;
                    }

                    .i-star {
                        width: 12px;
                        height: 12px;

                        display: inline-block;

                        position: relative;
                        top: -5px;
                    }
                }
            }
        }

        .img {
            height: 222px;
            overflow: hidden;
            margin-left: -1px;

            position: relative;
            z-index: 1;

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }

        .info {
            display: grid;
            grid-template-columns: minmax(0, 1fr);
            grid-template-rows: minmax(0, 1fr) auto;
            gap: 20px;

            box-shadow: 0 5px 10px 0 rgba(20, 20, 20, 0.2);
            background: #fff;
            border-radius: 0 0 10px 10px;

            padding: 132px 20px 18px;
            margin-top: -120px;

            .info-header {
                .type {
                    font-size: 15px;
                    color: var(--color-main-dark);
                }

                .name {
                    color: #000;
                    font-size: 20px;
                    font-weight: bold;
                    margin: 6px 0;
                    line-height: 1.25;
                }

                .work {
                    font-size: 14px;
                    color: #999;
                }

                .text {
                    margin-top: 10px;
                    font-size: 14px;
                    line-height: 1.4;
                }
            }

            .info-footer {

            }
        }
    }
}


.advantages-block {
    .advantages {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        gap: 30px;

        .advantage {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 60px;

            &:nth-child(even) {
                .img {
                    grid-column-start: 2;
                    grid-row-start: 1;
                }

                .info {
                    grid-column-start: 1;
                    grid-row-start: 1;
                }
            }

            .img {
                position: relative;
                z-index: 1;

                height: 365px;

                &:before {
                    content: '';

                    position: absolute;
                    z-index: -1;
                    top: 16px;
                    left: 16px;

                    height: 100%;
                    width: 100%;

                    background: #eff2f5;
                    border-radius: 88px 0;
                }

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 80px 0;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                .name {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 15px;
                }

                .more {
                    margin-top: 20px;

                    a {
                        font-size: 16px;
                        font-weight: bold;
                        color: var(--color-main);
                    }
                }

                .order {
                    display: flex;
                    margin-top: 30px;
                }
            }
        }
    }
}


.videos-block {
    .videos {
        .video {
            .img {
                aspect-ratio: 353 / 224;
                margin-bottom: 20px;

                transition: 0.3s;

                &:hover {
                    transform: scale(0.98);
                }

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .text {
                color: #888;
                line-height: 1.25;
            }
        }
    }
}


.owl-carousel .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 14px;

    margin-top: 35px;

    button.owl-dot {
        min-height: unset;

        background: #ddd;
        width: 12px;
        height: 12px;
        border-radius: 100px;

        text-indent: -9999px;
        overflow: hidden;

        &.active {
            background: var(--color-main);
        }
    }
}


.reviews-block {
    .block-header {
        .block-text {
            margin-top: 12px;
        }
    }

    .owl-carousel {
        .owl-stage-outer {
            margin: -10px;
            padding: 10px;

            .owl-stage {
                display: flex;

                .owl-item {
                    display: flex;
                    flex: 1 0 auto;
                }
            }
        }
    }

    .article-items {
        display: flex;
        flex: 1 0 auto;
        height: 100%;
    }
}


.reviews-grid-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(5, 5, 5, 0.1);

    .header {
        display: grid;
        grid-template-columns: auto minmax(0, 1fr) auto;
        gap: 20px;

        margin-bottom: 20px;

        .avatar {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 60px;
            height: 60px;

            margin: 8px 0 0;

            border-radius: 10px;
            background-color: #eb691e;
            box-shadow: 0 0 10px 0 rgba(5, 5, 5, 0.1);

            font-size: 30px;
            color: #fff;
        }

        .info {
            .name {
                font-weight: bold;
                font-size: 20px;
            }

            .count {
                font-size: 14px;
            }

            .date {
                font-size: 15px;
                color: #888;
                margin-top: 3px;
            }
        }

        .logo {
            width: 38px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .rating {
        display: grid;
        grid-template-columns: minmax(0, 1fr) auto;
        gap: 10px;
        align-items: center;

        margin-bottom: 20px;

        .stars {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            gap: 3px;

            .star {
                width: 30px;
                aspect-ratio: 1;

                background-image: url(../img/star.png);
                background-size: 100% 100%;
                background-position: center;
                background-repeat: no-repeat;

                &:not(.active) {
                    filter: grayscale(100%);
                }
            }
        }

        .count {
            font-size: 16px;
            color: #888;
            line-height: 1.3;
        }
    }

    .title {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 15px;
        line-height: 1.3;
    }

    .text {
        font-size: 16px;
        color: #444;
    }
}


.ratings-block {
    .block-header {
        .block-text {
            margin-top: 10px;
        }
    }

    .ratings {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));

        .rating {
            .img {
                display: flex;
                align-items: center;
                justify-content: center;

                height: 50px;
                margin-bottom: 5px;

                &.max-40 {
                    img {
                        max-height: 40px;
                    }
                }

                img {
                    display: block;
                    height: 100%;
                    width: auto;
                }
            }

            .label {
                font-size: 13px;
                text-align: center;
                color: #777;
            }

            .value {
                text-align: center;
                font-size: 18px;
                margin-top: 2px;
            }

            .stars {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;

                margin-top: 8px;

                .star {
                    width: 12px;
                    height: 12px;

                    background-image: url(../img/star.png);
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    background-position: center;
                }
            }
        }
    }
}


.block-all {
    display: flex;
    justify-content: center;

    margin-top: 50px;
}


.gallery-block {
    .images {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 20px;

        margin: 0 20px;

        .image {
            aspect-ratio: 600 / 450;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


.contacts-block {
    padding-bottom: 0 !important;
    overflow: hidden;

    .block-title {
        text-align: left;
    }

    .content {
        display: grid;
        grid-template-columns: minmax(0, 1fr) auto auto;

        position: relative;
        z-index: 1;

        &:after {
            content: '';

            position: absolute;
            z-index: -1;

            bottom: -30px;
            right: -190px;

            width: 662px;
            height: 482px;

            background-image: url(../img/contact-bg.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

        .items {
            .item {
                display: grid;
                grid-template-columns: auto minmax(0, 1fr);
                gap: 20px;

                &:not(:last-child) {
                    margin-bottom: 40px;
                }

                .icon {
                    width: 38px;
                    height: 38px;

                    .i {
                        width: 100%;
                        height: 100%;
                    }
                }

                .info {
                    .name {
                        font-size: 14px;
                        color: #666;
                        margin-bottom: 5px;
                    }

                    .value {
                        font-size: 20px;
                        font-weight: bold;

                        a {
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    .call,
                    .more {
                        a {
                            font-size: 14px;
                            color: var(--color-main);
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .order-block {
            grid-row: auto;
        }

        .doctor {
            width: 300px;
            position: relative;

            left: -50px;

            img {
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }
}


#back-2-top {
    display: flex;
    align-items: center;

    position: fixed;
    z-index: 5;

    right: 30px;
    bottom: 30px;

    border-radius: 100px;

    transition: 0.3s;

    &:not(.visible) {
        opacity: 0;
    }

    .i {
        width: 50px;
        height: 50px;
    }
}


.mobile-footer-block {
    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    overflow: hidden;

    transition: 0.3s;

    &.visible {
        padding-top: 8px;
        height: 54px;
    }

    .block-content {
        height: 54px;

        padding: 7px 0;
        background: #fff;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);

        .inner {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 16px;
            align-items: center;
            box-sizing: border-box;

            text-align: center;
            font-size: 14px;
            line-height: 1.2;

            a {
                color: var(--color-main);
            }

            .order {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .i {
                    width: 20px;
                    height: 20px;

                    margin-bottom: 3px;

                    position: relative;
                    top: 1px;
                }
            }

            .phone {
                font-size: 15px;
            }
        }
    }
}


.float-menu-link {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 20;
    top: 10px;
    right: 10px;

    width: 56px;
    height: 56px;
    background: #fff;
    border-radius: 100px;

    opacity: 1;
    transition: 0.3s;

    &:not(.visible) {
        display: none;
        opacity: 0;
    }
}



@media screen and (max-width: 1560px) and (min-width: 1201px) {
    .header-block {
        .float {
            grid-template-columns: minmax(0, 1fr) auto;
            gap: 0;

            top: -100px;
            height: 100px;
            box-sizing: border-box;

            padding-top: 10px;
            padding-bottom: 10px;

            .menu {
                grid-column: span 2;
                grid-row-start: 2;
            }
        }
    }
}